<form>
    <div>

        <label>
            Name:<br />
            <input name="name" required />
        </label>
    </div>
    <div>
        <label>
            Email:<br />
            <input name="email" type="email" required />
        </label>
    </div>
    <div>
        <label>
            Website:<br />
            <input name="website" type="url" />
        </label>
    </div>
    <div>
        <label>
            Message:<br />
            <textarea name="message"></textarea>
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>